# Grav
accounts/*
plugins/*
data/*
assets/*
themes/learn2

config/
config/plugins/admin.yaml
config/security.yaml
config/plugins/git-sync.yaml
localhost/config/*
config/site.yaml


# OS Generated
.DS_Store*
thumbs.db
Thumbs.db
*.swp

# Sass
.sass-cache


