a {
    color: #66B574;
}

a:hover {
    color: #67cc79;
}

[type="week"],
select[multiple=multiple] {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
}

textarea:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="url"]:hover,
input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
select[multiple=multiple]:hover {
    border-color: #c4c4c4;
}

textarea:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
select[multiple=multiple]:focus {
    border-color: #1694CA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(102, 181, 116, 0.7);
}

#header {
    background: #2d353e;
    color: #fff;
    padding: 25px 15px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#header a {
    display: inline-block;
}

#header #logo {
    width: 147px;
    height: 40px;
    display: block;
    margin: 0 0 0 45px;
}

#header #logo-svg path {
    fill: #fff;
}

.searchbox {
    margin-top: 0.5rem;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: transparent;
    border-radius: 4px;
}

.searchbox input:focus {
    border: 1px solid rgba(255, 255, 255, 1);
    outline: none;
}

#sidebar ul li.visited>a .read-icon {
    color: #66B574;
    display: inline;
}

.bottom-panel {
    /*padding: 1.5rem 1rem;*/
    /*margin-top: 20px;*/
    border-top: 1px solid rgba(255, 255, 255, 0.7);
}

.bottom-panel .clear-history {
    display: block;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 10px;
    /*display: inline-block;*/
}

#footer {
    padding: 0 1rem 3rem;
    color: #a2a2a2;
    font-size: 13px;
    /*position: absolute;*/
}

#footer p {
    margin: 0 0 0 0;
}

#header .langswitcher .external{
  color: #fff;
  font-weight: bold;
}



.langswitcher {
    float: left !important;
    width: 100%;
    margin-left: -6px !important;
    margin-right: 0 !important;
    margin-top: 25px !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
}

@media (max-width: 768px) {
  .clear-history {
    float: left;
    width: 100%;
    /*padding-left: 14px;
    padding-right: 14px;
    margin-top: 10px;*/
  }
  
  .langswitcher {
    margin-top: 15px !important;
    /*padding-left: 14px !important;
    padding-right: 14px !important;*/
  }

  #footer{
    display: inline-block;
    margin-top: -10px;
    margin-bottom: 15px;
  }

}

/* Hides the sub-menu item if parent not active */
.dd-item .dd-item ul li {
    display: none;
}

.dd-item .dd-item.active ul li,
.dd-item.parent > ul > li {
    display: block;
}

/* Hides the sub-sub-menu menu-item if parent not active */
.dd-item.parent > ul > li.dd-item.active > ul > li > ul > li {
    display: none;
}

.dd-item.parent > ul > li.dd-item.active > ul > li {
    display: block;
}





